@{
    Layout = "~/Views/Shared/_Root.Head.Cache.cshtml";
    
}


    <div class="page-body">        
        @*@Html.Action("HomepageCategories", "Catalog")*@
        
        @Html.Widget("home_page_top")       
        @Html.Widget("home_page_before_categories")  
        @*@Html.Widget("home_page_before_products")*@
        @Html.Action("PublicPage", "HomePageProduct", new { area = "" })
        

        @*<div class="homepage-middle-wrapper">
            
            <div class="bestsellers">
                @Html.Widget("home_page_best_sellers")
            </div>
            @Html.Widget("pavilion_home_page_richblog")
        </div>*@
        @Html.Widget("home_page_before_best_sellers")
        @Html.Widget("home_page_before_news")
        @Html.Action("HomePageNews", "News")
        @Html.Widget("home_page_before_poll")
        @Html.Action("HomePagePolls", "Poll")

        <div class="homepage-bottom-wrapper">
            @Html.Widget("home_page_bottom")
        </div>
        @Html.Widget("pavilion_home_page_richblog")
        @*@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })*@
    </div>