@using Nop.Web.Framework;
@model Nop.Plugin.Widgets.BsAffiliate.Models.AffiliateConfigureModel

@using Nop.Web.Framework.UI;

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    ViewBag.Title = "Bs Affiliate - Configure";
    Html.SetActiveMenuItemSystemName("Affiliate.Settings");
}

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
<div class="content-header clearfix">
    <h1 class="pull-left">
        Bs Affiliate - Configure
    </h1>
</div>
<div class="content-header">
    <div class="form-horizontal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.DefaultCommission)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.DefaultCommission)
                                @Html.ValidationMessageFor(model => model.DefaultCommission)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CommissionType)
                            </div>
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(model => model.CommissionType, new { @class = "form-control text-box single-line" })
                                @Html.ValidationMessageFor(model => model.CommissionType)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <input type="submit" value="Save" class="btn bg-blue" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>