@using Nop.Web.Framework;
@model Nop.Plugin.Widgets.BsAffiliate.Models.AffiliateCustomerMapModel

@using Nop.Web.Framework.UI;

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    Html.SetActiveMenuItemSystemName("Affiliate.UserCommission");
    ViewBag.Title = T("Plugins.Widgets.BsAffiliate.AffiliateCustomerMap").Text;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Widgets.BsAffiliate.AffiliateCustomerMap")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="/BsAffiliateConfigure/UserCommission">Back to list</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.HiddenFor(model => model.AffiliateId)
                        @Html.HiddenFor(model => model.CustomerId)
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AffiliateName)
                            </div>
                            <div class="col-md-6">
                                @Html.NopDisplayFor(model => model.AffiliateName)
                                @Html.HiddenFor(model => model.AffiliateName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AffiliateTypeId)
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.AffiliateTypeId, Model.AvailableAffiliateTypes, new { @class = "form-control" })
                                @Html.HiddenFor(model => model.AffiliateTypeId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CustomerName)
                            </div>
                            <div class="col-md-6">
                                @Html.NopEditorFor(model => model.CustomerName)
                                @Html.ValidationMessageFor(model => model.CustomerName)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {

            $("#@Html.FieldIdFor(model => model.CustomerName)").autocomplete({
                minLength: 3,
                //source
                source: function (req, add) {
                    console.log(req.term);
                    console.log(add);

                    $.getJSON("/BsAffiliateConfigure/GetCustomers?query=" + req.term, function (data) {
                        var suggestions = [];
                        console.log(data);
                        $.each(data, function (i, val) {
                            console.log(val);
                            console.log(i);
                            suggestions.push({
                                label: val.CustomerName,
                                value: val.CustomerId
                            });
                        });
                        add(suggestions);
                    });
                },
                //select
                select: function (e, ui) {
                    $('#@Html.FieldIdFor(model => model.CustomerName)').val(ui.item.label);
                    $('#@Html.FieldIdFor(model => model.CustomerId)').val(ui.item.value);
                    console.log(ui.item.value);
                    return false;
                },
                focus: function (event, ui) {
                    $('#@Html.FieldIdFor(model => model.CustomerName)').val(ui.item.label);
                    return false;
                }
            });
        });
    </script>
}
