@{
    Layout = "";
}
@model BS.Plugin.NopStation.MobileApp.Models.ConfigurationModel
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="raw form-horizontal clearfix">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.AppleCertFileNameWithPath_OverrideForStore, model => model.AppleCertFileNameWithPath, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.AppleCertFileNameWithPath)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.AppleCertFileNameWithPath)
                                    @Html.ValidationMessageFor(model => model.AppleCertFileNameWithPath)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.ApplePassword_OverrideForStore, model => model.ApplePassword, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.ApplePassword)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.ApplePassword)
                                    @Html.ValidationMessageFor(model => model.ApplePassword)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.IsAppleProductionMode)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.IsAppleProductionMode)
                                    @Html.ValidationMessageFor(model => model.IsAppleProductionMode)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.NopLabelFor(model => model.GoogleProject_Number)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.GoogleProject_Number)
                                    @Html.ValidationMessageFor(model => model.GoogleProject_Number)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.OverrideStoreCheckboxFor(model => model.GoogleConsoleAPIAccess_KEY_OverrideForStore, model => model.GoogleConsoleAPIAccess_KEY, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.GoogleConsoleAPIAccess_KEY)
                                </div>
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.GoogleConsoleAPIAccess_KEY)
                                    @Html.ValidationMessageFor(model => model.GoogleConsoleAPIAccess_KEY)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
