@using BS.Plugin.NopStation.MobileApp.Helpers
@model BS.Plugin.NopStation.MobileApp.Models.CriteriaModel
@using Nop.Web.Framework

@{Layout = "_PluginsAdminLayout";}
@{
    ViewBag.Title = @T("Admin.Plugin.NopStation.MobileApp.Groups.Title.AddNew").Text;
}
@using (Html.BeginForm())
{
    <div class="content-header clearfix">
        <h1 class="title pull-left">
            <i class="fa fa-tags"></i> @T("Admin.Plugin.NopStation.MobileApp.Groups.Header.AddNew")
            <a href="/Admin/Plugin/NopStation/MobileApp/SmartGroups"> @T("Admin.Plugin.NopStation.MobileApp.Common.BackToList") </a>
</h1>
        <div class="pull-right">
            <button name="button" value="save" class="btn bg-blue" onclick="GenerateModelData(); return false;">@T("Admin.Common.Save")</button>
        </div>
    </div>

    <div class="content">
        <div class=" panel panel-default">
            <div class="panel-body">
                @Html.Partial("_CreateOrUpdateGroup", Model)
            </div>
        </div>
    </div>
}