@using BS.Plugin.NopStation.MobileApp.Helpers
@model BS.Plugin.NopStation.MobileApp.Models.ScheduledNotificationModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@{Layout = "_PluginsAdminLayout";}
@{
    Html.AppendCssFileParts("~/Plugins/NopStation.MobileApp/Content/styles.css");
    //page title
    ViewBag.Title = @T("Admin.Plugin.NopStation.MobileApp.Schedule.Title.CreateSchedule").Text;
}
@using (Html.BeginForm())
{
    <div class="content-header clearfix">
        <h1 class="title pull-left">
            <i class="fa fa-tags"></i> @T("Admin.Plugin.NopStation.MobileApp.Schedule.Header.CreateSchedule")
            <a href="/Admin/Plugin/NopStation/MobileApp/ScheduleList"> @T("Admin.Plugin.NopStation.MobileApp.Common.BackToList") </a>
        </h1>
        <div class="options pull-right">
            <button name="button" type="submit" value="save" class="btn bg-blue">@T("Admin.Common.Save")</button>
        </div>
    </div>

    <div class="content">
        @*<div class=" panel panel-default">
            <div class="panel-body">*@
                
                @Html.Partial("_CreateOrUpdateSchedule", Model)
            @*</div>
        </div>*@
    </div>
}


