@model CustomerLedgerView

@using Nop.Web.Models.Customer;

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-wallet-page");
}

@section left
{
    @Html.Action("CustomerNavigation", "Customer")
}

<div class="page account-page wallet-page">
    <div class="page-title">
        <h1>@T("My Account") - @T("Wallet")</h1>
    </div>

    <div class="page-body">
        @if (Model.CustomerLedgerMaster != null)
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <h3>Customer Ledger</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Credit Amount</th>
                            <th>Debit Amount</th>
                            <th>Total Balance</th>
                        </tr>
                    </thead>

                    <tr>
                        <td>@Model.CustomerLedgerMaster.CreditAmount</td>
                        <td>@Model.CustomerLedgerMaster.DebitAmount</td>
                        <td>@Model.CustomerLedgerMaster.TotalBalance</td>
                    </tr>
                </table>

                if (Model.CustomerLedgerDetail != null && Model.CustomerLedgerDetail.Count > 0)
                {
                    <h3>Customer Ledger Details</h3>

                    <table>
                        <thead>
                            <tr>
                                <th>Amount Desc</th>
                                <th>Amount Type</th>
                                <th>Amount</th>
                                <th>Transaction Date</th>
                            </tr>
                        </thead>

                        @for (int i = 0; i < Model.CustomerLedgerDetail.Count; i++)
                        {
                            var detail = Model.CustomerLedgerDetail[i];

                            <tr>
                                <td>@detail.AmountDescription</td>
                                <td>@detail.AmountType</td>
                                <td>@detail.Amount</td>
                                <td>@detail.LastAddedDate</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="no-data">
                        @T("No Balance")
                    </div>
                }
            }
        }
        else
        {
            <div class="no-data" style="padding-bottom: 100px;">

                @using (Html.BeginForm("CheckWalletOTP", "Customer"))
                {
                    <div style="float:left;padding-right:10px"><h5>Enter valid OTP </h5></div>

                    <div style="float:left;padding-left:10px">
                        @Html.TextBoxFor(m => Model.WalletAccountView.OTP, new { placeholder = "Please enter valid OTP.", style = "width: 350px;" })
                    </div>

                    <div style="float:left;padding-left:10px">
                        <input type="submit" value="Submit" id="btnSubmit" style="background-color: #f74258; transition: max-width 0.6s linear, background-color 0.3s linear, padding 0.1s linear; font-family: 'Open Sans'; font-size: 14px; color: white; height: 35px; width: 130px;" />
                    </div>

                    <p class="text-danger">
                        <h3><strong>@TempData["Message"]</strong></h3>
                    </p>
                }
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".master-column-wrapper").children().each(function () {
            $(this).css({ "width": "100% !important;" });
        });
    });
</script>

<style>
    table {
        border-collapse: collapse;
        border: 1px solid black;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        border: 1px solid black;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .center-2 {
        width: 100%;
        margin-top: -70px;
    }

    .side-2 {
        width: 100% !important;
        margin-top: 50px;
    }
</style>