@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration

@{
    Layout = "~/Views/Shared/_RootForHome.cshtml";

    var currentStore = EngineContext.Current.Resolve<IStoreContext>().CurrentStore;
    int storeId = currentStore.Id;

    var settingsService = EngineContext.Current.Resolve<ISettingService>();
    bool isHomeSliderFullWidth = settingsService.GetSettingByKey("pavilionthemesettings.ishomepagemainsliderfullwidth", false, storeId, true);
    bool stickyCategoryMenuFlyout = settingsService.GetSettingByKey("pavilionthemesettings.StickyCategoryMenuFlyout", true, storeId, true);
    bool showCategoriesInSideMenu = settingsService.GetSettingByKey("pavilionthemesettings.ShowCategoriesInSideMenu", true, storeId, true);

    var homePageMainSlider = Html.Widget("home_page_main_slider");
}

@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}

    <div>
        <h1>Sabbir Ahmed</h1>
        @if (IsSectionDefined("customScripts"))
        {
            @RenderSection("customScripts")
        }

        @if (IsSectionDefined("customStyles"))
        {
            @RenderSection("customStyles")
        }

        <div class="main-slider-wrapper flex-container">
            <div style="-webkit-flex: 65; -ms-flex: 65; -o-flex: 65; flex: 65;">
                @homePageMainSlider
            </div>
            <div style="-webkit-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1;"></div>
            <div style="-webkit-flex: 25; -ms-flex: 25; -o-flex: 25; flex: 25;">
                @Html.Widget("home_page_main_slider_right_side")
            </div>
        </div>

        @Html.Widget("homepage_slider_after")
    </div>

@* @Html.Widget("homepage_slider_after_custom") *@

@Html.Widget("main_column_before")
@RenderBody()
@Html.Widget("main_column_after")

@if (showCategoriesInSideMenu && !isHomeSliderFullWidth)
{
    <div class="category-navigation-list-wrapper">
        <ul class="category-navigation-list @if (stickyCategoryMenuFlyout){<text>sticky-flyout</text>}"></ul>
    </div>
}

@Html.Widget("home_page_best_sellers")

@Html.Action("HomepageProducts", "Product")

<script>
    $(function () {
        $(".center-2 .custom-carousel:eq(0) .carousel-title span").html("Featured Brands");
        $(".center-2 .custom-carousel:eq(1)").addClass("offers-not-resist");
        $(".center-2 .custom-carousel:eq(1) .carousel-title span").html("Offers You Can't Resist");
    });
</script>
