@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration
@using System.Web.Mvc
@{
    Layout = "~/Views/Shared/_RootForHome.cshtml";
}

<div @*class="clearfix"*@>
    <div @*class="center-2"*@>
        @if (IsSectionDefined("customScripts"))
        {
            @RenderSection("customScripts")
        }

        @if (IsSectionDefined("customStyles"))
        {
            @RenderSection("customStyles")
        }

        <div class="custom-page-top flex-container">
            <div style="flex: 80;">
                @Html.Widget("custom_page_main_banner")
            </div>
            <div style="flex: 1;"></div>
            <div style="flex: 32;">
                @Html.Widget("custom_page_main_slider")
            </div>
        </div>

        @Html.Widget("custom_page_middle")
    </div>
</div>

@RenderBody()
