@using Nop.Web.Framework;
@model BS.Plugin.NopStation.MobileApp.Models.NotificationMessageTemplateModel
@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails").Text;
}
@{Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="title pull-left">
            <i class="fa fa-cubes"></i> @T("Admin.ContentManagement.MessageTemplates.EditMessageTemplateDetails") - @Model.Name <a href="/Admin/Plugin/NopStation/MobileApp/MessageTemplateList"> @T("Admin.ContentManagement.MessageTemplates.BackToList") </a>
        </h1>
    </div>
        <div class="content">
            <div class=" panel panel-default">
                <div class="panel-body">

                    <div class="options">
                        <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                        <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
                        <input type="submit" name="message-template-copy" class="k-button" value="@T("Admin.ContentManagement.MessageTemplates.Copy")" onclick="return confirm('@T("Admin.Common.AreYouSure")');" />
                        <span id="message-template-delete" class="k-button">@T("Admin.Common.Delete")</span>
                    </div>
@Html.Partial("_NotificationMessageTemplateCreateOrUpdate", Model)
                </div>
            </div>
        </div>



    

}
@Html.DeleteConfirmation("message-template-delete")

