@using Nop.Plugin.Payments.bKashAdvance.Models;
@model ConfigurationModel
@using Nop.Web.Framework;
@{
    Layout = "";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Description)
                    </div>
                    <div class="col-md-9">
                        @Html.NopTextAreaFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AppKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AppKey)
                        @Html.ValidationMessageFor(model => model.AppKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AppSecret)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AppSecret)
                        @Html.ValidationMessageFor(model => model.AppSecret)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Username)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Username)
                        @Html.ValidationMessageFor(model => model.Username)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Password)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AdditionalFeePercentage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFeePercentage)
                        @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.EnableCapture)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.EnableCapture)
                        @Html.ValidationMessageFor(model => model.EnableCapture)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UseSandbox)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.UseSandbox)
                        @Html.ValidationMessageFor(model => model.UseSandbox)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" name="save" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label" for="Select" title="">Select</label>
                            <div class="ico-help" title="Select">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control text-box single-line" id="Select">
                            <option value="">-- Select an option -- </option>
                            <option value="1">Query Payment</option>
                            <option value="2">Query Organization Balance</option>
                            <option value="3">Search Transaction Details</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-hide hide" id="TransactionIdPanel">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label" for="TransactionId" title="">Transaction Id</label>
                            <div class="ico-help" title="Enter Transaction Id">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control text-box single-line" id="TransactionId" />
                    </div>
                </div>
                <div class="form-group form-group-hide hide" id="PaymentIdPanel">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label" for="PaymentId" title="">Payment Id</label>
                            <div class="ico-help" title="Enter Payment Id">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control text-box single-line" id="PaymentId" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="button" name="save" class="btn bg-blue" id="search">
                            <i class="fa fa-search"></i>
                            @T("Admin.Common.Search")
                        </button>
                    </div>
                </div>
                <br />
                <div class="form-group" id="ResultPanel">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label" for="PaymentId" title="">Result</label>
                            <div class="ico-help" title="Query Result">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-top: 5px;">
                        <div id="Result">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $('#Select').change(function () {
            var type = $(this).val();
            $('.form-group-hide').addClass('hide');

            if (type == 1) {
                $('#PaymentIdPanel').removeClass('hide');
            }
            if (type == 3) {
                $('#TransactionIdPanel').removeClass('hide');
            }
        });

        $('#search').click(function () {
            var type = $('#Select').val();

            var url = ''
            var data = null;

            if (type == 1) {
                url = '/BkashAdvance/GetPayment';
                data = $('#PaymentId').val();
            }
            else if (type == 2) {
                url = '/BkashAdvance/GetBalance';
            }
            else if (type == 3) {
                url = '/BkashAdvance/GetTransaction';
                data = $('#TransactionId').val();
            }
            else
                return;

            //console.log(data);

            $.ajax({
                url: url,
                type: "POST",
                data: { id: data },
                dataType: "json",
                success: function (response) {
                    //console.log(response);

                    if (response.Status) {
                        showResult(response, type);
                    }
                    else {
                        $('#Result').text(response.ErrorMessage)
                    }
                }
            });
        });

        function showResult(response, type) {
            if (type == 1) {
                var html = '';

                html += '<b>Payment Id :</b> ' + response.PaymentID;
                html += '<br /> <b>Create Time :</b> ' + response.CreateTime;
                html += '<br /> <b>Update Time :</b> ' + response.UpdateTime;
                html += '<br /> <b>Transaction Id :</b> ' + response.TransactionId;
                html += '<br /> <b>Transaction Status :</b> ' + response.TransactionStatus;
                html += '<br /> <b>Amount :</b> ' + response.Amount;
                html += '<br /> <b>Currency :</b> ' + response.Currency;
                html += '<br /> <b>Intent :</b> ' + response.Intent;
                html += '<br /> <b>Invoice Number :</b> ' + response.MerchantInvoiceNumber;
                html += '<br /> <b>Refund Amount :</b> ' + response.RefundAmount;

                $('#Result').html(html)
            }
            else if (type == 2) {

                var html = '';
                var i = 1;
                for (var index in response.OrganizationBalance) {

                    //console.log(index)
                    html += '<b>' + (i++) + '</b>';

                    html += '<br /> <b>Account Type Name  :</b> ' + response.OrganizationBalance[index].AccountTypeName;
                    html += '<br /> <b>Account Status :</b> ' + response.OrganizationBalance[index].AccountStatus;
                    html += '<br /> <b>Account Holder Name :</b> ' + response.OrganizationBalance[index].AccountHolderName;
                    html += '<br /> <b>Customer Msisdn :</b> ' + response.OrganizationBalance[index].CustomerMsisdn;
                    html += '<br /> <b>Currency :</b> ' + response.OrganizationBalance[index].Currency;
                    html += '<br /> <b>Current Balance :</b> ' + response.OrganizationBalance[index].CurrentBalance;
                    html += '<br /> <b>Available Balance :</b> ' + response.OrganizationBalance[index].AvailableBalance;
                    html += '<br /> <b>Update Time :</b> ' + response.OrganizationBalance[index].UpdateTime;

                    html += '<br /><br /><br />';
                }
                $('#Result').html(html)
            }
            else if (type == 3) {
                var html = '';

                html += '<b>Amount :</b> ' + response.Amount;
                html += '<br /> <b>Completed Time :</b> ' + response.CompletedTime;
                html += '<br /> <b>Currency :</b> ' + response.Currency;
                html += '<br /> <b>Customer Msisdn :</b> ' + response.CustomerMsisdn;
                html += '<br /> <b>Initiation Time :</b> ' + response.InitiationTime;
                html += '<br /> <b>Org. Short Code :</b> ' + response.OrganizationShortCode;
                html += '<br /> <b>Transaction Reference :</b> ' + response.TransactionReference;
                html += '<br /> <b>Transaction Status :</b> ' + response.TransactionStatus;
                html += '<br /> <b>Transaction Type :</b> ' + response.TransactionType;
                html += '<br /> <b>Transaction Id :</b> ' + response.TransactionId;

                $('#Result').html(html)
            }
        }
    });
</script>
