@model MobileRegistrationModel
@using Nop.Plugin.Widgets.MobileLogin.Models;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");
}

<div class="page login-page">
    <div class="page-title">
        <h1>We've sent a one time pin in your phone</h1>
    </div>

    <div class="page-body">

        <div class="customer-blocks">

            <div class="fieldset">
                @using (Html.BeginForm())
                {
                    var validationSummary = Html.ValidationSummary(true, "Can not create account.");

                    <div class="inner-wrapper show">
                        @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            <div class="message-error">@validationSummary</div>
                        }
                        <div class="form-fields">

                            <div class="inputs">                           
                                @Html.LabelFor(m => m.MobileNumber, new { }, ":")
                                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "mobile-number", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.MobileNumber)
                            </div>                            
                            <div class="inputs">
                                @Html.LabelFor(m => m.Name, new {}, ":")
                                @Html.TextBoxFor(m => m.Name, new {@class = "name"})
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>                            
                            <div class="inputs">
                                @Html.LabelFor(m => m.Email, new { }, ":")
                                @Html.TextBoxFor(m => m.Email, new { @class = "email" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            
                        </div>
                        <div id="result" style="font-weight: bold"></div>
                        <div class="buttons" style="margin-top: 20px">                            
                            <input class="button-1 login-button" type="submit" value="Create" />                            
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>