@model Nop.Plugin.Widgets.AlgoliaSearch.Models.ConfigureModel
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@{
    Layout = "";
    ViewBag.Title = T("Plugin.AlgoliaSearch.Configure.Title").Text;
    Html.SetActiveMenuItemSystemName("AlgoliaAdmin.Configure");
}

<script>
    $(document).ready(function() {
        $('#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)').change(togglePageSize);
        togglePageSize();
    });

    function togglePageSize() {
        if ($('#@Html.FieldIdFor(model => model.AllowCustomersToSelectPageSize)').is(':checked')) {
            $('#pnlPageSize').hide();
            $('#pnlSelectablePageSizes').show();
        } else {
            $('#pnlPageSize').show();
            $('#pnlSelectablePageSizes').hide();
        }
    }
</script>

@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Algolia Configuration</h4>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ApplicationId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ApplicationId)
                                @Html.ValidationMessageFor(model => model.ApplicationId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.SeachOnlyKey)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.SeachOnlyKey)
                                @Html.ValidationMessageFor(model => model.SeachOnlyKey)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AdminKey)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AdminKey)
                                @Html.ValidationMessageFor(model => model.AdminKey)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.MonitoringKey)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MonitoringKey)
                                @Html.ValidationMessageFor(model => model.MonitoringKey)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ResetSettings)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ResetSettings)
                                @Html.ValidationMessageFor(model => model.ResetSettings)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.ClearIndex)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.ClearIndex)
                                @Html.ValidationMessageFor(model => model.ClearIndex)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Plugin Configuration</h4>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.SearchBoxThumbnailSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.SearchBoxThumbnailSize)
                                @Html.ValidationMessageFor(model => model.SearchBoxThumbnailSize)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowProductViewModeChanging)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowProductViewModeChanging)
                                @Html.ValidationMessageFor(model => model.AllowProductViewModeChanging)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowProductSorting)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowProductSorting)
                                @Html.ValidationMessageFor(model => model.AllowProductSorting)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowCustomersToSelectPageSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowCustomersToSelectPageSize)
                                @Html.ValidationMessageFor(model => model.AllowCustomersToSelectPageSize)
                            </div>
                        </div>
                        <div class="form-group" id="pnlPageSize">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.PageSize)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.PageSize)
                                @Html.ValidationMessageFor(model => model.PageSize)
                            </div>
                        </div>
                        <div class="form-group" id="pnlSelectablePageSizes">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.SelectablePageSizes)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.SelectablePageSizes)
                                @Html.ValidationMessageFor(model => model.SelectablePageSizes)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.MinimumQueryLength)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MinimumQueryLength)
                                @Html.ValidationMessageFor(model => model.MinimumQueryLength)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.UploadSoldOutProducts)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.UploadSoldOutProducts)
                                @Html.ValidationMessageFor(model => model.UploadSoldOutProducts)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.HideSoldOutProducts)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.HideSoldOutProducts)
                                @Html.ValidationMessageFor(model => model.HideSoldOutProducts)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.UploadUnPublishedProducts)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.UploadUnPublishedProducts)
                                @Html.ValidationMessageFor(model => model.UploadUnPublishedProducts)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.MaximumCategoriesShowInFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MaximumCategoriesShowInFilter)
                                @Html.ValidationMessageFor(model => model.MaximumCategoriesShowInFilter)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.MaximumVendorsShowInFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MaximumVendorsShowInFilter)
                                @Html.ValidationMessageFor(model => model.MaximumVendorsShowInFilter)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.MaximumManufacturersShowInFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MaximumManufacturersShowInFilter)
                                @Html.ValidationMessageFor(model => model.MaximumManufacturersShowInFilter)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.MaximumSpecificationsShowInFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.MaximumSpecificationsShowInFilter)
                                @Html.ValidationMessageFor(model => model.MaximumSpecificationsShowInFilter)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowPriceRangeFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowPriceRangeFilter)
                                @Html.ValidationMessageFor(model => model.AllowPriceRangeFilter)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowEmiFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowEmiFilter)
                                @Html.ValidationMessageFor(model => model.AllowEmiFilter)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowRatingFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowRatingFilter)
                                @Html.ValidationMessageFor(model => model.AllowRatingFilter)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowVendorFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowVendorFilter)
                                @Html.ValidationMessageFor(model => model.AllowVendorFilter)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowCategoryFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowCategoryFilter)
                                @Html.ValidationMessageFor(model => model.AllowCategoryFilter)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowCategoryFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowCategoryFilter)
                                @Html.ValidationMessageFor(model => model.AllowCategoryFilter)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowManufacturerFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowManufacturerFilter)
                                @Html.ValidationMessageFor(model => model.AllowManufacturerFilter)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AllowSpecificationFilter)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AllowSpecificationFilter)
                                @Html.ValidationMessageFor(model => model.AllowSpecificationFilter)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}