@model Nop.Plugin.Widgets.AlgoliaSearch.Models.AlgoliaSynonymModel
@using Nop.Web.Framework.UI
@using Nop.Web.Framework

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Updatable items";
    Html.SetActiveMenuItemSystemName("AlgoliaAdmin.UpdatableItems");
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Updatable items
        </h1>
        <div class="pull-right">
            <button type="submit" class="btn bg-blue" name="update-all">
                <i class="fa fa-eye"></i>
                Update All
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div id="product-edit" class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @Html.RenderBootstrapTabHeader("tab-products", @T("Algolia.UpdatableItems.Products"), true)
                    @Html.RenderBootstrapTabHeader("tab-categories", @T("Algolia.UpdatableItems.Categories"))
                    @Html.RenderBootstrapTabHeader("tab-vendors", @T("Algolia.UpdatableItems.Vendors"))
                    @Html.RenderBootstrapTabHeader("tab-manufacturers", @T("Algolia.UpdatableItems.Manufacturers"))
                </ul>
                <div class="tab-content">
                    @Html.RenderBootstrapTabContent("tab-products", @TabProducts(), true)
                    @Html.RenderBootstrapTabContent("tab-categories", @TabCategories())
                    @Html.RenderBootstrapTabContent("tab-vendors", @TabVendors())
                    @Html.RenderBootstrapTabContent("tab-manufacturers", @TabManufacturers())
                </div>
            </div>
        </div>
    </div>
}

@helper TabProducts()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="products-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#products-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("UpdatableProducts", "AlgoliaAdmin"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: 25,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [15, 25, 50, 100]
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "Name",
                                    title: "Name",
                                    template: '<a href="/Admin/Product/Edit/#=Id#">#=Name# </a>',
                                    width: 200
                                }, {
                                    field: "LastUpdatedBy",
                                    title: "Last updated by",
                                    template: '<a href="/Admin/Customer/Edit/#=LastUpdatedBy#">#=LastUpdatedBy# </a>',
                                    width: 100
                                }, {
                                    field: "UpdatedOn",
                                    title: "Updated on",
                                    width: 100
                                }
                            ]
                        });
                    });
                </script>
            </div>
        </div>
    </div>
}

@helper TabCategories()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="categories-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#categories-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("UpdatableCategories", "AlgoliaAdmin"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: 25,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [15, 25, 50, 100]
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "Name",
                                    title: "Name",
                                    template: '<a href="/Admin/Category/Edit/#=Id#">#=Name# </a>',
                                    width: 200
                                }, {
                                    field: "LastUpdatedBy",
                                    title: "Last updated by",
                                    template: '<a href="/Admin/Customer/Edit/#=LastUpdatedBy#">#=LastUpdatedBy# </a>',
                                    width: 100
                                }, {
                                    field: "UpdatedOn",
                                    title: "Updated on",
                                    width: 100
                                }
                            ]
                        });
                    });
                </script>
            </div>
        </div>
    </div>
}

@helper TabVendors()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="vendors-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#vendors-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("UpdatableVendors", "AlgoliaAdmin"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: 25,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [15, 25, 50, 100]
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "Name",
                                    title: "Name",
                                    template: '<a href="/Admin/Vendor/Edit/#=Id#">#=Name# </a>',
                                    width: 200
                                }, {
                                    field: "LastUpdatedBy",
                                    title: "Last updated by",
                                    template: '<a href="/Admin/Customer/Edit/#=LastUpdatedBy#">#=LastUpdatedBy# </a>',
                                    width: 100
                                }, {
                                    field: "UpdatedOn",
                                    title: "Updated on",
                                    width: 100
                                }
                            ]
                        });
                    });
                </script>
            </div>
        </div>
    </div>

}

@helper TabManufacturers()
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="manufacturers-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#manufacturers-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("UpdatableManufacturers", "AlgoliaAdmin"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors"
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: 25,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [15, 25, 50, 100]
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "Name",
                                    title: "Name",
                                    template: '<a href="/Admin/Manufacturer/Edit/#=Id#">#=Name# </a>',
                                    width: 200
                                }, {
                                    field: "LastUpdatedBy",
                                    title: "Last updated by",
                                    template: '<a href="/Admin/Customer/Edit/#=LastUpdatedBy#">#=LastUpdatedBy# </a>',
                                    width: 100
                                }, {
                                    field: "UpdatedOn",
                                    title: "Updated on",
                                    width: 100
                                }
                            ]
                        });
                    });
                </script>
            </div>
        </div>
    </div>
}



