@model Nop.Plugin.Payments.Bkash.Models.ConfigurationModel
@using Nop.Web.Framework;
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    Page.Title = T("Admin.Plugins.Payments.Bkash.Settings").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Plugins.Payments.Bkash.Settings")<a class="" href="/Admin/Payment/Methods"> (back to payment method list)</a>
        </div>
    </div>
    
    
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DescriptionText):
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => Model.DescriptionText, new { style = "Height: 200px;" })
                @Html.ValidationMessageFor(model => model.DescriptionText)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalFee):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalFeePercentage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFeePercentage)
                @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.BkashPaymentPhoneNumber):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.BkashPaymentPhoneNumber)
                @Html.ValidationMessageFor(model => model.BkashPaymentPhoneNumber)
            </td>
        </tr>
          <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.BkashSendMoneyPhoneNumber):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.BkashSendMoneyPhoneNumber)
                @Html.ValidationMessageFor(model => model.BkashSendMoneyPhoneNumber)
            </td>
        </tr>
                <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CustomerSupportPhoneNumber):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CustomerSupportPhoneNumber)
            </td>
        </tr>
                <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.DialingNumber):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DialingNumber)
                @Html.ValidationMessageFor(model => model.DialingNumber)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
}

<table class="adminContent" style="text-align: left;">
    <tr>
        <td class="adminTitle" colspan="2">
            Put this code to the "/Theme/{CurrentTheme}/CheckOut/Completed.cshtml" file.
            <br/>
            @@{
            <br />
            var paymentMethodSystemName= Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Orders.IOrderService>().GetOrderById(Model.OrderId).PaymentMethodSystemName;
                                                                                              <br/>
                                                                                              if(paymentMethodSystemName=="Payments.Bkash"){<br/>
                                                                                              @@Html.Action("HowToPay","PaymentBkash",new{area=""})<br/>
                                                                                              }<br/>
                                                                                              }
                                                                                              <br />
        </td>
    </tr>
</table>