@model Nop.Plugin.Widgets.BsAffiliate.Models.AffiliatePublicDetailsModel

@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Plugins/Widgets.BsAffiliate/Views/BsAffiliate/_ColumnsTwoPlugin.cshtml";

    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-address-edit-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = -1 })
}
<style>
    .cart th, .data-table th, .forums-table-section th {
        white-space: initial !important;
    }

    .form-fields-table {
        padding: 30px 60px;
    }

        .form-fields-table table th {
            font-weight: bold;
        }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page address-edit-page">
        <div class="page-title">
            <h1>@T("Plugins.Widgets.BsAffiliate.OrderTitle")</h1>
        </div>
        <div class="page-body">
            @if (!Model.Active)
            {
                <div class="no-data">
                    @T("Plugins.Widgets.BsAffiliate.Info.VerificationPendingMessage")
                </div>
            }
            else if (Model.Orders.Count() > 0)
            {
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Plugins.Widgets.BsAffiliate.Info.CommissionSummary")</strong>
                    </div>
                    <div class="form-fields" style="max-width: 100%">
                        <div class="inputs">
                            <label>
                                @T("Plugins.Widgets.BsAffiliate.Info.CommissionSummary.Total") :  @Model.Total,
                                @T("Plugins.Widgets.BsAffiliate.Info.CommissionSummary.Payable") : @Model.Payable,
                                @T("Plugins.Widgets.BsAffiliate.Info.CommissionSummary.Paid") : @Model.Paid,
                                @T("Plugins.Widgets.BsAffiliate.Info.CommissionSummary.Unpaid") : @Model.Unpaid
                            </label>
                        </div>

                        <div class="inputs">
                            <label>
                                @T("Plugins.Widgets.BsAffiliate.Info.OrderList")
                            </label>
                            <table class="cart w980 footable-loaded footable" style="font-size:14px">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.OrderId")</th>
                                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.OrderDate")</th>
                                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.OrderStatus")</th>
                                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.OrderPaymentStatus")</th>
                                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.CommissionPaymentStatus")</th>
                                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.OrderTotal")</th>
                                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.AffiliateCommission")</th>
                                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.MarkedAsPaidOn")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model.Orders)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@order.OrderId</td>
                                            <td>@order.OrderDate.AddHours(6).ToString("MMM dd, yyyy hh:mm tt")</td>
                                            <td>@order.OrderStatus.ToString()</td>
                                            <td>@order.OrderPaymentStatus.ToString()</td>
                                            <td>@order.CommissionPaymentStatus.ToString()</td>
                                            <td>@order.OrderTotalString</td>
                                            <td>@order.AffiliateCommissionString</td>
                                            <td>
                                                @if (order.MarkedAsPaidOn.HasValue)
                                                {
                                                    <span>
                                                        @order.MarkedAsPaidOn.Value.AddHours(6).ToString("MMM dd, yyyy hh:mm tt")
                                                    </span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="no-data">
                    @T("Plugins.Widgets.BsAffiliate.Info.NoData")
                </div>
            }
        </div>
    </div>
}
