@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["Action"].ToString();

    var isAffiliateController = controllerName.Equals("bsaffiliate", StringComparison.InvariantCultureIgnoreCase);
    var isInfoAction = actionName.Equals("info", StringComparison.InvariantCultureIgnoreCase);
    var isOrderAction = actionName.Equals("orders", StringComparison.InvariantCultureIgnoreCase);
    var activeInfo = "";
    var activeOrder = "";

    if (isAffiliateController)
    {
        if (isOrderAction)
        {
            activeOrder = "active";
        }
        if (isInfoAction)
        {
            activeInfo = "active";
        }
    }
}
@if (ViewBag.IsApplied)
{
    <li class="">
        <a href="@Url.RouteUrl("CustomerAffiliateInfo")" class="@activeInfo">@T("Plugins.Widgets.BsAffiliate.InfoTab")</a>
    </li>

    if (ViewBag.IsActive)
    {
        <li class="">
            <a href="@Url.RouteUrl("CustomerAffiliateOrders")" class="@activeOrder">@T("Plugins.Widgets.BsAffiliate.OrderTab")</a>
        </li>
    }
}
else
{
    <li class="">
        <a href="@Url.RouteUrl("CustomerAffiliateInfo")" class="@activeInfo">@T("Plugins.Widgets.BsAffiliate.ApplyTab")</a>
    </li>
}
