@model MegaMenuModel
@using Nop.Web.Models.Catalog

<link href="/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Themes/Pavilion/Content/MegaMenu.css" rel="stylesheet" type="text/css" />
<script src="/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Scripts/MegaMenu.min.js" type="text/javascript"></script>

<ul class="mega-menu" data-isrtlenabled="false" data-enableclickfordropdown="false">
    @*<li class="">
        <a href="/" class="" title="Home"><span> Home</span></a>

    </li>*@

    @foreach (var category in Model.Categories)
    {
        if (category.ChildCategories.Count == 0)
        {
            <li class="mega-menu-categories root-category-items" data-categoryid="@category.Id">
                <a class="" href="@Url.RouteUrl("Category", new { SeName = category.SeName })" title="@category.Name"><span>@category.Name</span></a>
            </li>
        }
        else
        {
            <li class="has-sublist mega-menu-categories root-category-items" data-categoryid="@category.Id">
                <a class="with-subcategories" href="@Url.RouteUrl("Category", new { SeName = category.SeName })" title="@category.Name"><span>@category.Name</span></a>
                <div class="plus-button"></div>
                <div class="sublist-wrap">
                    <ul class="sublist">
                        <li class="back-button">
                            <span>@T("SevenSpikes.MegaMenu.ResponsiveBackButton")</span>
                        </li>
                        @CreateSubLists(category.ChildCategories)
                    </ul>
                </div>
            </li>
        }
    }
</ul>



@helper CreateSubLists(IList<MegaMenuModel.CategoryModel> subCategories)
{
    foreach (var subCategory in subCategories)
    {
        if (subCategory.ChildCategories.Count > 0)
        {
            <li class="has-sublist" data-categoryid="@subCategory.Id">
                <a class="with-subcategories" href="@Url.RouteUrl("Category", new { SeName = subCategory.SeName })" title="@subCategory.Name"><span>@subCategory.Name</span></a>
                <div class="plus-button"></div>
                <div class="sublist-wrap">
                    <ul class="sublist">
                        <li class="back-button">
                            <span>@T("SevenSpikes.MegaMenu.ResponsiveBackButton")</span>
                        </li>
                        @CreateSubLists(subCategory.ChildCategories)
                    </ul>
                </div>
            </li>
        }
        else
        {
            <li data-categoryid="@subCategory.Id">
                <a class="lastLevelCategory" href="@Url.RouteUrl("Category", new {SeName = subCategory.SeName})" title="@subCategory.Name"><span>@subCategory.Name</span></a>
            </li>
        }
    }
}


