@model SaleWithUsModel
@using Nop.Web.Models.Common;
@{
    //Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts("Sell With Us");
    //page class
    Html.AppendPageCssClassParts("html-sale-page");
}
<div class="page sale-page contact-page">
    <div class="page-title">
        <h1>Sale With Us</h1>
    </div>
    <div>
        @Html.Action("TopicBlock", "Topic", new { systemName = "SaleWithUs" })        
    </div>
    <div class="page-body">               
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                var validationSummary = Html.ValidationSummary(true);
                if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div> 
                }
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            @*@Html.LabelFor(model => model.FullName)*@
                            <label for="FullName">Full Name</label>
                            @Html.TextBoxFor(model => model.FullName, new { @class = "fullname", placeholder = T("Enter your full name") })
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.FullName)
                        </div>
                        <div class="inputs">
                            @*@Html.LabelFor(model => model.CompanyName)*@
                            <label for="CompanyName">Company Name</label>
                            @Html.TextBoxFor(model => model.CompanyName, new { @class = "companyname", placeholder = "Enter your company name"})
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { @class = "email", placeholder = "Enter your email address" })
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>       
                        <div class="inputs">
                            @Html.LabelFor(model => model.Phone)
                            @Html.TextBoxFor(model => model.Phone, new { @class="phone", placeholder = "Enter your phone number"})
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(model => model.Address)
                            @Html.TextBoxFor(model => model.Address, new { @class = "address", placeholder = "Enter your adress" })
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(model => model.Website)
                            @Html.TextBoxFor(model => model.Website, new { @class = "website", placeholder = "Enter your website link (if any)" })                            
                            @Html.ValidationMessageFor(model => model.Website)
                        </div>                      
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="send-email" class="button-1" value="Submit" />
                </div>
            }
        }
        
    </div>
</div>
