@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration
@using System.Web.Mvc
@{
    Layout = "~/Views/Shared/_RootForHome.cshtml";
}

<style>
    .kazicontainer {
        position: relative;
        background-image: url("Content/Images/kazibackground.jpg");
        background-repeat: repeat;
        background-attachment: fixed;
        width:100%;
    }
</style>

<div class="kazicontainer">
    <div>
        
        @if (IsSectionDefined("customScripts"))
        {
            @RenderSection("customScripts")
        }

        @if (IsSectionDefined("customStyles"))
        {
            @RenderSection("customStyles")
        }

        <div class="kazi-n-kazi-tea-page-top">
            @Html.Widget("kazi_n_kazi_tea_main_slider")
        </div>

        <div class="kazi-n-kazi-tea-page-midddle">
            @Html.Widget("kazi_n_kazi_tea_page_middle")
        </div>
    </div>

    @RenderBody()
</div>
