@model PurchaseOfferModel

@using Nop.Core.Domain.Discounts;
@using Nop.Services
@using Nop.Web.Framework.UI;

<div class="panel-group">
    @if (Model.Id > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Admin.Promotions.PurchaseOffer.Vendor.Required")
            </div>
            <div class="panel-body">
                <div id="vendors-grid"></div>

                <script>
                    $(document).ready(function () {
                        $("#vendors-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("VendorList", "PurchaseOffer", new { PurchaseOfferId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("VendorDelete", "PurchaseOffer", new { PurchaseOfferId = Model.Id }))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            VendorName: { editable: false, type: "string" },
                                            VendorId: { editable: false, type: "number" }
                                        }
                                    }
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: 10,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [10, 25, 50, 100]
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "VendorName",
                                    title: "@T("Admin.Promotions.PurchaseOffers.AppliedToVendors.Vendor")"
                                                    }, {
                                    field: "VendorId",
                                    title: "@T("Admin.Common.View")",
                                    width: 150,
                                    template: '<a href="@Url.Content("~/Admin/Vendor/Edit/")#=VendorId#">@T("Admin.Common.View")</a>'
                                }, {
                                    command: [
                                        {
                                            name: "destroy",
                                            text: "@T("Admin.Common.Delete")"
                                        }
                                    ],
                                    width: 150
                                }
                            ]
                        });
                    });
                </script>
            </div>
            <div class="panel-footer">
                <button type="submit" id="btnAddNewVendor" onclick="javascript:OpenWindow('@(Url.Action("VendorAddPopup", "PurchaseOffer" , new {PurchaseOfferId=Model.Id, btnId="btnRefreshVendors" , formId="PurchaseOffer-form" }))', 800, 800, true); return false;" class="btn btn-primary">
                    @T("Admin.Promotions.PurchaseOffers.AppliedToVendors.AddNew")
                </button>
                <input type="submit" id="btnRefreshVendors" style="display: none" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#btnRefreshVendors').click(function () {
                            //refresh grid
                            var grid = $("#vendors-grid").data('kendoGrid');
                            grid.dataSource.read();

                            //return false to don't reload a page
                            return false;
                        });
                    });
                </script>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Admin.Promotions.PurchaseOffers.AppliedToVendors.SaveBeforeEdit")
            </div>
        </div>
    }
</div>
