@using Nop.Plugin.Payments.Dmoney.Models;
@model ConfigurationModel
@using Nop.Web.Framework;
@{
    Layout = "";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.GatewayUrl)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.GatewayUrl)
                        @Html.ValidationMessageFor(model => model.GatewayUrl)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TransactionVerificationUrl)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.TransactionVerificationUrl)
                        @Html.ValidationMessageFor(model => model.TransactionVerificationUrl)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.OrgCode)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.OrgCode)
                        @Html.ValidationMessageFor(model => model.OrgCode)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Password)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SecretKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SecretKey)
                        @Html.ValidationMessageFor(model => model.SecretKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.BillerCode)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.BillerCode)
                        @Html.ValidationMessageFor(model => model.BillerCode)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.EnableLog)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.EnableLog)
                        @Html.ValidationMessageFor(model => model.EnableLog)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" name="save" class="btn bg-blue">
                            <i class="fa fa-floppy-o"></i>
                            @T("Admin.Common.Save")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}