@model List<Nop.Plugin.Misc.HomePageProduct.Models.CategoryHomePageModel>
@using Nop.Web.Framework.UI
@{
    Layout = "";
}

<link href="~/Plugins/Misc.HomePageProduct/Content/HomePageCategory/HomePageCustomCategory.css" rel="stylesheet" />

@foreach (var item in Model)
{
    if (item.PictureModel.Count() > 4)
    {
        <div class="special-category">
            <h1 class="special-category-title">@item.MainCategoryName</h1>
            <div class="category-items">
                <div class="item item-sm">
                    <div class="item-content">
                        <a href="@item.PictureModel[0].Url">
                            <p class="item-title text-center">@item.PictureModel[0].Caption</p>
                            <img alt="@item.PictureModel[0].AlternateText" src="@item.PictureModel[0].ImageUrl"
                                 title="@item.PictureModel[0].Title" />
                        </a>

                    </div>
                    <div class="item-content">
                        <a href="@item.PictureModel[1].Url">
                            <p class="item-title text-center">@item.PictureModel[1].Caption</p>
                            <img alt="@item.PictureModel[1].AlternateText" src="@item.PictureModel[1].ImageUrl"
                                 title="@item.PictureModel[1].Title" />
                        </a>
                    </div>

                </div>
                <div class="item item-lg">
                    <div class="item-content">
                        <a href="@item.PictureModel[2].Url">
                            <p class="item-title text-center">@item.PictureModel[2].Caption</p>
                            <img alt="@item.PictureModel[2].AlternateText" src="@item.PictureModel[2].ImageUrl"
                                 title="@item.PictureModel[2].Title" />
                        </a>
                    </div>
                </div>
                <div class="item item-sm">
                    <div class="item-content">
                        <a href="@item.PictureModel[3].Url">
                            <p class="item-title text-center">@item.PictureModel[3].Caption</p>
                            <img alt="@item.PictureModel[3].AlternateText" src="@item.PictureModel[3].ImageUrl"
                                 title="@item.PictureModel[3].Title" />
                        </a>
                    </div>
                    <div class="item-content">
                        <a href="@item.PictureModel[4].Url">
                            <p class="item-title text-center">@item.PictureModel[4].Caption</p>
                            <img alt="@item.PictureModel[4].AlternateText" src="@item.PictureModel[4].ImageUrl"
                                 title="@item.PictureModel[4].Title" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

    }
}
