@model AffiliatedOrderListModel
@using Nop.Web.Models.Affiliates;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Customer;

<style>
    ul li.current-page, ul li.other-page,
    ul li.prev-page, ul li.nxt-page {
        list-style: none;
        float: left;
        padding: 10px;
        border: 1px solid #ccc;
        margin-right: 5px;
        font-weight: bold;
    }
    ul li.current-page {
        color: #f74258
    }

    ul li.other-page,
    ul li.prev-page, ul li.nxt-page {
        cursor: pointer;
    }
</style>

<div class="fieldset">
    <div class="title">
        <strong>@T("Plugins.Widgets.BsAffiliate.Info.CommissionSummary")</strong>
    </div>
    <div class="form-fields" style="max-width: 100%">
        <div class="inputs">
            <label>
                @T("Plugins.Widgets.BsAffiliate.Info.CommissionSummary.Total") :  @Model.TotalCommission,
                @T("Plugins.Widgets.BsAffiliate.Info.CommissionSummary.Payable") : @Model.PayableCommission,
                @T("Plugins.Widgets.BsAffiliate.Info.CommissionSummary.Paid") : @Model.PaidCommission,
                @T("Plugins.Widgets.BsAffiliate.Info.CommissionSummary.Unpaid") : @Model.UnpaidCommission
            </label>
        </div>

        <div class="inputs">
            <label>
                @T("Plugins.Widgets.BsAffiliate.Info.OrderList")
            </label>
            <table class="cart w980 footable-loaded footable" style="font-size:14px">
                <thead>
                    <tr>
                        <th></th>
                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.OrderId")</th>
                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.OrderDate")</th>
                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.OrderStatus")</th>
                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.OrderPaymentStatus")</th>
                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.CommissionPaymentStatus")</th>
                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.OrderTotal")</th>
                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.AffiliateCommission")</th>
                        <th>@T("Plugins.Widgets.BsAffiliate.AffiliateOrderModel.MarkedAsPaidOn")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td></td>
                            <td>@order.Id</td>
                            <td>@order.CreatedOn</td>
                            <td>@order.OrderStatus</td>
                            <td>@order.PaymentStatus</td>
                            <td>
                                @if (order.CommissionPaid)
                                {
                                    <span>Paid</span>
                                }
                                else
                                {
                                    <span>Unpaid</span>
                                }
                            </td>
                            <td>@order.OrderTotal</td>
                            <td>@order.OrderCommission</td>
                            <td>@order.CommissionPaidOn</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="8">
                            <ul>
                                @if (Model.HasPreviousPage)
                                {
                                    <li class="prev-page" onclick="loadOrders(@(Model.PageNumber - 1))"> < </li>
                                }

                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    if (Model.PageNumber == i)
                                    {
                                        <li class="current-page">@i</li>
                                    }
                                    else
                                    {
                                        <li class="other-page" onclick="loadOrders(@i)">@i</li>
                                    }
                                }
                                @if (Model.HasNextPage)
                                {
                                    <li class="nxt-page" onclick="loadOrders(@(Model.PageNumber + 1))"> > </li>
                                }

                            </ul>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
