@model Nop.Plugin.Payments.EblSkyPay.Models.FailOrderModel
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="container">
    <div class="row">
        <div class="checkout-page">
            <div class="clear">
            </div>
            <div class="thanks-title">
                @T("Checkout.ThankYou")
            </div>
            <div class="clear">
            </div>
            <div class="checkout-data">
                <div class="order-completed">
                    <div class="body">
                        <b>Your order has been placed but payment process Canceled</b>
                        <p>
                            Order Number : @Model.OrderId
                        </p>
                        <p>
                            @Model.FailReason
                        </p>
                        <p>
                            <a href="@Url.RouteUrl("OrderDetails", new { orderID = @Model.OrderId})">Click here for order details</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section dataLayer
{
    @Html.Partial("_TrxDataLayer", Model.TrxModel);
}