@{
    /**/

    Layout = "";
}
@model Nop.Plugin.Payments.EblSkyPay.Models.ConfigurationModel
@using System.Web.Mvc.Html
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.DescriptionText)
                    </div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.DescriptionText, new { style = "width: 100%; max-width: 550px; Height: 150px;" })
                        @Html.ValidationMessageFor(model => model.DescriptionText)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AdditionalFeePercentage)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFeePercentage)
                        @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.EnableLogging)
                    </div>
                    <div class="col-md-9">
                        @Html.CheckBoxFor(model => model.EnableLogging)
                        @Html.ValidationMessageFor(model => model.EnableLogging)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.MerchantId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantId)
                        @Html.ValidationMessageFor(model => model.MerchantId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.MerchantName)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantName)
                        @Html.ValidationMessageFor(model => model.MerchantName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.OperatorId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.OperatorId)
                        @Html.ValidationMessageFor(model => model.OperatorId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.Password)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AutoRedirectEnable)
                    </div>
                    <div class="col-md-9">
                        @Html.CheckBoxFor(model => model.AutoRedirectEnable)
                        @Html.ValidationMessageFor(model => model.AutoRedirectEnable)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UseSandBox)
                    </div>
                    <div class="col-md-9">
                        @Html.CheckBoxFor(model => model.UseSandBox)
                        @Html.ValidationMessageFor(model => model.UseSandBox)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UseHttsForRedirection)
                    </div>
                    <div class="col-md-9">
                        @Html.CheckBoxFor(model => model.UseHttsForRedirection)
                        @Html.ValidationMessageFor(model => model.UseHttsForRedirection)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.GatewayUrl)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.GatewayUrl)
                        @Html.ValidationMessageFor(model => model.GatewayUrl)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-3">
                        <button type="submit" name="save" class="btn bg-blue"><i class="fa fa-floppy-o"></i> @T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("GetJsonResponse", "PaymentEblSkyPay", FormMethod.Post, new { id = "get-json-response-form" }))
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label" for="AdditionalFee" title="">Test Server Configuration</label>
                            <div class="ico-help" title="Test Server Configuration">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <p>
                            <b>Test GateWay :</b> https://test-gateway.mastercard.com/api/nvp/version/40
                            <br />
                            <b>API User Name :</b> merchant.20010009
                            <br />
                            <b>API Password :</b> 08292e8816ac5b0e43ca4b7ac4f65e99
                        </p>
                    </div>
                </div>

                <br />

                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label" for="AdditionalFee" title="">Url</label>
                            <div class="ico-help" title="Url">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" name="Url" class="form-control" value="" id="Url" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label" for="AdditionalFee" title="">POST Data</label>
                            <div class="ico-help" title="POST Data">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="PostData" value="" id="PostData" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-3">
                        <input type="button" name="submit" value="Get Response" id="get-json-response" class="btn bg-blue" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div id="get-json-response-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#get-json-response').click(function () {
                var post_data = $("form#get-json-response-form").serialize();
                $.ajax({
                    type: "POST",
                    url: "/PaymentEblSkyPay/GetJsonResponse",
                    data: post_data,
                    success: function (data) {
                        $("#get-json-response-content").html(data.Response);
                    }
                });
            });
        });
    </script>
}
