@model Nop.Plugin.Widgets.EkShopA2I.Models.EkshopOrderSearchModel
@using Nop.Web.Framework.Events;
@using Nop.Services.Events;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";

    ViewBag.Title = "Ek-shop orders";
    Html.SetActiveMenuItemSystemName("EkShopA2i Orders");
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        Ek-shop orders
    </h1>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.StartDate)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.StartDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.EndDate)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.EndDate)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.OrderCode)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.OrderCode)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.LpContactNumber)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.LpContactNumber)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.NopLabelFor(model => model.LpCode)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.LpCode)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-order" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="order-grid"></div>

                    <script>
                    $(document).ready(function () {
                        $("#order-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("OrderList", "EkShopA2i"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: additionalData
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            CreatedOn: { type: "date" }
                                        }
                                    }
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: 15,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                pageSizes: [15, 20, 25, 50, 100]
                            },
                            scrollable: false,
                            columns: [
                                {
                                    field: "CreatedOn",
                                    title: "Created on",
                                    width: 200,
                                    type: "date",
                                    format: "{0:G}"
                                }, {
                                    field: "LpCode",
                                    title: "Logistic partner code",
                                    width: 200,
                                    template: '<span>#=LpCode# #if(LpContactNumber.length > 0){ #- (#=LpContactNumber#) # } #</span>'
                                }, {
                                    field: "UdcCommission",
                                    title: "Udc commission",
                                    width: 100,
                                    template: '<span>Tk #=UdcCommission#</span>'
                                }, {
                                    field: "Id",
                                    title: "Order code",
                                    template: '<a href="/EkShopA2i/OrderDetails/#=Id#"> #=OrderCode# </a>',
                                    width: 100
                                }, {
                                    field: "OrderId",
                                    title: "Priyoshop Order Id",
                                    template: '<a href="/Admin/Order/Edit/#=OrderId#"> #=OrderId# </a>',
                                    width: 100
                                }
                            ]
                        });
                    });
                    </script>


                    <script type="text/javascript">
                        $(document).ready(function () {
                            //search button
                            $('#search-order').click(function () {
                                //search
                                var grid = $('#order-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });
                        });

                        function additionalData() {
                            var data = {
                                StartDate: $('#@Html.FieldIdFor(x => x.StartDate)').val(),
                                EndDate: $('#@Html.FieldIdFor(x => x.EndDate)').val(),
                                OrderCode: $('#@Html.FieldIdFor(x => x.OrderCode)').val(),
                                LpContactNumber: $('#@Html.FieldIdFor(x => x.LpContactNumber)').val(),
                                LpCode: $('#@Html.FieldIdFor(x => x.LpCode)').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
