@model BS.Plugin.NopStation.MobileWebApi.Models.Slider.SliderImageModel
@using Nop.Core.Infrastructure;
@using Nop.Services;
@using Nop.Services.Events;
@using Nop.Web.Framework;
@using Nop.Web.Framework.Events;

@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.PictureId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.PictureId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SliderActiveStartDate)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SliderActiveStartDate)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SliderActiveEndDate)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.SliderActiveEndDate)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.SliderDomainTypeId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopDropDownListFor(model => model.SliderDomainTypeId, Model.AvailableSliderDomainTypes)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DomainId)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DomainId)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.NopLabelFor(model => model.DisplayOrder)
                        </div>
                        <div class="col-md-9">
                            @Html.NopEditorFor(model => model.DisplayOrder)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
