@model BS.Plugin.NopStation.MobileWebApi.Models.NstSettingsModel.Nst_ConfigurationSettings
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@{
    Html.SetActiveMenuItemSystemName("MobileWebApi.NopStationSecrateToken");
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.NopMobile.WebApi.NST")
        </h1>
        <div class="pull-right">
            <a href="@Url.Action("NopStationSecrateTokenEdit", "MobileWebApiConfiguration")" class="btn bg-blue"><i class="fa fa-pencil-square-o"></i>Edit</a>
        </div>
    </div>
    <div class="raw form-horizontal clearfix">
        <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.NST_KEY)
                            </div>
                            <div class="col-md-9">
                                <input class="form-control text-box single-line" id="NST_KEY" name="NST_KEY" type="text" value="@Model.NST_KEY" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.NST_SECRET)
                            </div>
                            <div class="col-md-9">
                                <input class="form-control text-box single-line" id="NST_SECRET" name="NST_SECRET" type="text" value="@Model.NST_SECRET" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}